.dashboard-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f0f0f0;
 
  height: 100vh;
}

.sb{
  width: 20%;
  height:100%;
  background-color: rgb(36, 45, 53);
}

.dashboard-content {
  width: 80%;
  
  /* padding: 20%; */
  border-radius: 5px;
}

.dashboard-content h2 {
  margin: 0;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary-box {
  width: 45%;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.summary-box h3 {
  margin: 0;
}

.summary-box p {
  font-weight: bold;
  font-size: 18px;
  color: rgb(41, 65, 57);
}
