.dashboard-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f0f0f0;
 
  height: 100vh;
}

.sb{
  width: 20%;
  height:100%;
  background-color: rgb(36, 45, 53);
}

.dashboard-content {
  width: 80%;
  
  padding: 20%;
  border-radius: 5px;
}

.dashboard-content h2 {
  margin: 0;
}