.navbar {
  background-color: black !important;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.spacer {
  flex-grow: 1;
}

.customButton {
  margin-left: 10px;
  background-color: rgb(43, 103, 107);
  color: #ffffff !important;
  border-radius: 20px;
  padding: 8px 16px;
}

.customButton:not(:last-child) {
  margin-right: 10px;
}
