.profile-page {
  display: flex;
  justify-content: left;
  background-color: #f0f0f0;
  height: 100vh;
}

.profile-content {
  background-image: url('../assets/profile.jpg');
  background-size: cover; /* Adjust the background size to cover the container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: right; /* Center the background image */
  width: 150%;
  max-width: 1000px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


.profile-heading {
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
  font-weight: bold
}

.profile-field {
  margin-bottom: 1.5rem;
}

.profile-field label {
  display: block;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.profile-field input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold
}

.profile-value {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.profile-button {
  padding: 1rem 2rem;
  margin: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(0, 128, 128);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-wallpaper {
  background-image: url('../assets/profile.jpg');
  background-size: cover;
  background-position: center;
}
